<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		{% include "common/config.twig" %}
		<script src="/js/jquery/jquery.js"></script>
		<script src="/bootstrap/js/bootstrap.js"></script>
		<link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
        {% endblock %}
	</head>
	<body class="container">
		{% block content %}{% endblock %}
	</body>
</html>
