<!DOCTYPE html>
<html>
	<head>
		{% include 'config.twig' %}
		<script src="/js/jquery/jquery.js"></script>
		<script src="/js/json2.js"></script>
		<script src="/bootstrap/js/bootstrap.js"></script>
		<link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="/bootstrap/css/bootstrap-theme.css" rel="stylesheet" media="screen">
	</head>
	<body class="container">
		<script>
  		</script>
		<h1>Badger</h1>
	</body>
</html>
